<!-- ======= Header ======= -->
<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex justify-content-between align-items-center">
    <div id="logo">
      <h1><a href="index.html">SpendWise</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
    </div>

    <!-- .navbar -->
    <app-navbar></app-navbar>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<app-hero></app-hero>
<!-- End Hero Section -->

<main id="main"></main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-chevron-up"></i
></a>
