<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elegant Dashboard | Dashboard</title>

 
</head>

<body>
  <div class="layer">
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
<app-admin-sidebar></app-admin-sidebar>

<div class="main-wrapper" >
          <app-top-bar></app-top-bar>
   
    </div>
<div class="container" style="width: 500px;">
<div class="row">
    <div class="col-md-6">
        <div class="pie">
            <canvas id="piechart"></canvas>
        </div>
    </div>
    </div>
</div>
</div></body>